services:
  database-prod:
    image: postgres:15-alpine
    container_name: portfolio_database-prod
    restart: unless-stopped
    env_file:
      - .env.prod
    volumes:
      - database_data-prod:/var/lib/postgresql/data # Route inside the container
      - ./docker/database/init:/docker-entrypoint-initdb.d # Mount initialization scripts
      - ./docker/database/migrations:/migrations # Mount migration files
      - ./docker/database/seeds:/seeds # Mount seed files
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER:-dylan} -d ${DB_NAME:-portfolio_db-prod}"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 15s
    networks:
      - portfolio_network-prod
  server-prod:
    build:
      context: .
      dockerfile: docker/server/Dockerfile
      target: production
    container_name: portfolio_server-prod
    restart: unless-stopped
    env_file:
      - .env.prod
    #healthcheck: # Not in usage for the moment
    #  test: ["CMD", "curl", "-f", "http://localhost:3000/api/projects"]
    #  interval: 5s
    #  timeout: 5s
    #  retries: 3
    #  start_period: 60s
    depends_on:
      database-prod:
        condition: service_healthy
    networks:
      - portfolio_network-prod
  client-prod:
    build:
      context: .
      dockerfile: docker/client/Dockerfile
      target: production
      args:
        VITE_API_BASE_URL: https://martinezdylan.dev/api
    container_name: portfolio_client-prod
    restart: unless-stopped
    ports:
    - "80:80"
    - "443:443"
    volumes:
      - /etc/letsencrypt/live/martinezdylan.dev/fullchain.pem:/etc/nginx/ssl/fullchain.pem:ro
      - /etc/letsencrypt/live/martinezdylan.dev/privkey.pem:/etc/nginx/ssl/privkey.pem:ro
    depends_on:
      - server-prod:
    networks:
      - portfolio_network-prod
    
volumes:
  database_data-prod:

networks:
  portfolio_network-prod:
    driver: bridge