.projects-list__link:hover .projects-list__text-container span {
  filter: blur(2px);
}

.projects-list__link:hover .projects-list__right-side img {
  transform: scale(1.1) translateZ(50px) translateY(-25px);
  filter: drop-shadow(0 20px 30px rgba(0, 0, 0, 0.25));
}

.projects-list__link:hover .projects-list__text-container h2.dark {
  transform: scale(1.05) translateZ(30px) translateY(-15px);
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.projects-list__link:hover .projects-list__text-container h2.light {
  transform: scale(1.05) translateZ(30px) translateY(-15px);
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

