.contact-form__actual-form-wrapper.light {
   background-color: #D7E3FC;
}

.contact-form__actual-form-wrapper.dark {
   background-color: #C1D3FE;
}

.contact-form__actual-form-active,
.contact-form__actual-form-inactive {
   transition: all 2s;
}

.contact-form__actual-form-active {
   opacity: 1;
}

.contact-form__actual-form-inactive {
   position: absolute;
   white-space: nowrap;
   overflow: hidden;
   height: 1px;
   width: 1px;
   padding: 0;
   border-width: 0;
   opacity: 0;
}

.contact-form__actual-form-input-field input,
.contact-form__actual-form-input-field textarea {
   opacity: 0.5;
   outline: none;
   border-bottom: #1f1f1f33 1px solid;
}

.contact-form__actual-form-input-field input.light,
.contact-form__actual-form-input-field textarea.light {
   color: #ABC4FF;
}

.contact-form__actual-form-input-field input.dark,
.contact-form__actual-form-input-field textarea.dark {
   color: #EDF2FB;
}

.contact-form__actual-form-input-field input:hover,
.contact-form__actual-form-input-field textarea:hover,
.contact-form__actual-form-input-field input:focus,
.contact-form__actual-form-input-field textarea:focus {
   opacity: 1;
}

.contact-form__actual-form-input-field input.light:hover,
.contact-form__actual-form-input-field textarea.light:hover {
   border-bottom: #ABC4FF 1px solid;
}

.contact-form__actual-form-input-field input.light:focus,
.contact-form__actual-form-input-field textarea.light:focus {
   border-bottom: #ABC4FF 1px solid;
   opacity: 1;
}

.contact-form__actual-form-input-field input.dark:hover,
.contact-form__actual-form-input-field textarea.dark:hover {
   border-bottom: #EDF2FB 1px solid;
}

.contact-form__actual-form-input-field input.dark:focus,
.contact-form__actual-form-input-field textarea.dark:focus {
   border-bottom: #EDF2FB 1px solid;
   opacity: 1;
}

.contact-form__actual-form-input-field input.light::placeholder,
.contact-form__actual-form-input-field textarea.light::placeholder,
.contact-form__actual-form-send-button button.light {
   color: #ABC4FF;
   transition: all 0.5s ease-in-out;
}

.contact-form__actual-form-input-field input.dark::placeholder,
.contact-form__actual-form-input-field textarea.dark::placeholder,
.contact-form__actual-form-send-button button.dark {
   color: #EDF2FB;
   transition: all 0.5s ease-in-out;
}

.contact-form__actual-form-input-field input.light:focus::placeholder,
.contact-form__actual-form-input-field textarea.light:focus::placeholder,
.contact-form__actual-form-input-field input.dark:focus::placeholder,
.contact-form__actual-form-input-field textarea.dark:focus::placeholder {
   color: transparent;
}

.contact-form__actual-form-send-button button.light {
   background-color: #EDF2FB;
}

.contact-form__actual-form-send-button button.dark {
   background-color: #ABC4FF;
}

